$common-shift: 5px;

.competitor-list-container {
  position: absolute;
  left: 50%;
  margin-top: 65px;
  margin-left: 185px;
  color: $notes-color;

  .title {
    font-weight: bolder;
    font-size: $notes-font-size;
  }

  .competitor-list {
    margin-top: 20px;
  }

  .competitor {
    margin-bottom: 10px;

    div {
      display: inline-block;
    }

    .name,
    .score {
      font-weight: bold;
    }

    .score {
      background-color: gray;
      border-radius: $border-radius;
      padding: $common-shift;
      margin-left: $common-shift;
      color: $white-color;
      background-color: $score-background-color;
    }
  }
}
