@import './variables.scss';
@import './competitorList.scss';
@import './startModalWindow.scss';

body {
  background-color: $main-background-color;
  color: $notes-color;
  font-family: 'Gill Sans', sans-serif;
}

.grid-container {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  margin-left: -300px;
  z-index: -1;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 82px);
  grid-gap: 10px;
  margin-bottom: 20px;

  .title {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 70px;
    font-weight: bolder;
  }

  .score {
    grid-column: 4;
    grid-row: 1;
  }

  .best {
    grid-column: 5;
    grid-row: 1;
  }

  .instruction {
    grid-column: 1/5;
    grid-row: 2;
    margin-top: 10px;
  }

  .new-game {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    width: 90px;
    margin-left: -28px;
    justify-items: center;
    color: $white-color;
    background-color: $button-color;
    padding: 10px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .number-wrapper,
  .new-game {
    border-radius: $border-radius;
  }

  .score,
  .best {
    display: grid;
    align-items: center;
  }

  .score {
    .number-wrapper {
      margin-right: 18px;
      margin-left: -18px;
    }
  }

  .best {
    .number-wrapper {
      width: 100px;
      margin-left: -18px;
    }
  }

  .number-wrapper {
    display: grid;
    justify-items: center;
    background-color: $score-background-color;
    font-weight: bolder;
    color: $white-color;
    padding-top: 5px;
    padding-bottom: 5px;

    .text {
      font-size: 11px;
      color: #eee4da;
    }

    .number {
      font-size: 22px;
    }
  }
}

.container {
  padding-left: 10px;
  padding-top: 20px;
  margin-bottom: -9px;
  width: $container-width;
  height: $container-height;

  .box {
    height: $box-height;
    width: $box-width;
    position: absolute;
    border-radius: $border-radius;
    text-align: center;
    vertical-align: middle;
    line-height: $box-height;
    font-size: 40px;
    font-weight: bolder;
    background-color: #eee4da;
  }
}

.place-container {
  width: $container-width;
  height: $container-height;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin-top: -431px;
  border-radius: 6px;
  grid-template-columns: $grid-template;
  grid-template-rows: $grid-template;
  grid-auto-flow: column;
  background-color: $score-background-color;
  position: absolute;
  z-index: -1;

  .place {
    background-color: #cdc1b4;
    color: #ffffff;
    border-radius: $border-radius;
    padding: 20px;
    position: relative;
  }
}

.bounce {
  animation: bounceBox 0.25s !important;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounceBox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.value-4 {
  background-color: #ede0c8 !important;
}

.value-8 {
  color: $white-color !important;
  background-color: #f2b179 !important;
}

.value-16 {
  color: $white-color !important;
  background-color: #f59563 !important;
}

.value-32 {
  color: $white-color !important;
  background-color: #f67c60 !important;
}

.value-64,
.game-over-for-competitor {
  color: $white-color !important;
  background-color: #f65e3b !important;
}

.value-128 {
  color: $white-color !important;
  background-color: #edcf73 !important;
}

.value-256 {
  color: $white-color !important;
  background-color: #edcc62 !important;
}

.value-512 {
  color: $white-color !important;
  background-color: #edc850 !important;
}

.value-1024 {
  color: $white-color !important;
  background-color: #edc850 !important;
}

.value-2048,
.win-for-competitor {
  color: $white-color !important;
  background-color: $win-color !important;
}

.value-hight {
  color: $white-color !important;
  background-color: #3c3a32 !important;
}

.note {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 450px;
  font-size: $notes-font-size;
}

.highlight {
  font-weight: bolder;
}

.game-over,
.you-win,
.connection {
  &-window {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    height: 450px;
    width: 450px;
    margin-top: -431px;
    border-radius: 6px;
    z-index: 1;

    span {
      font-size: 40px;
      font-weight: bolder;
    }
  }
}

@mixin window($background-color, $color) {
  background-color: $background-color;
  span {
    color: $color;
  }
}

.game-over-window,
.connection-window {
  @include window(rgba($white-color, $window-opacity), $notes-color);
}

.you-win-window {
  .container {
    display: grid;
    justify-items: center;
    height: 100px;

    .keep-going {
      display: grid;
      align-items: center;
      padding: 8px;
      height: 20px;
      background-color: $button-color;
      color: $white-color;
      font-weight: bold;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }
  @include window(rgba($win-color, $window-opacity), $white-color);
}

@-moz-document url-prefix() {
  .instruction {
    font-size: 15px;
  }

  .container {
    .box.value {
      &-2048,
      &-hight {
        font-size: $big-font-size-fire-fox !important;
      }
    }
  }

  .you-win-window {
    span {
      font-size: $big-font-size-fire-fox !important;
    }
  }
}

.hidden {
  display: none;
}
