$border-radius: 3px;
$container-height: 430px;
$container-width: 430px;
$box-height: 100px;
$box-width: 100px;
$grid-template: repeat(4, 100px);
$notes-font-size: 18px;
$notes-color: #776e65;
$white-color: #f9f6f2;
$button-color: #8f7a66;
$main-background-color: #faf8ef;
$score-background-color: #bbada0;
$win-color: #edc32c;
$window-opacity: 0.6;
$window-width: 450px;
$window-height: 450px;
$big-font-size-fire-fox: 35px;
